<main>
    <div class="album py-5 bg-body-tertiary" id="products">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-1.jpg" alt="Fairtrade Pocket Hoodie">
                        <div class="card-body">
                            <h3 class="card-title">Fairtrade Pocket Hoodie</h3>
                            <h4 class="card-text text-danger">64.95 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/1" type="button" class="btn btn-primary">View</a>
                                    <a href="product/1/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-2.jpg" alt="Fairtrade Zip Hoodie">
                        <div class="card-body">
                            <h3 class="card-title">Fairtrade Zip Hoodie</h3>
                            <h4 class="card-text text-danger">59.95 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/2" type="button" class="btn btn-primary">View</a>
                                    <a href="product/2/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-3.jpg" alt="Rudby Jergy">
                        <div class="card-body">
                            <h3 class="card-title">Rudby Jergy</h3>
                            <h4 class="card-text text-danger">69.95 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/3" type="button" class="btn btn-primary">View</a>
                                    <a href="product/3/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-4.jpg" alt="Topaz Premium Zip Jacket">
                        <div class="card-body">
                            <h3 class="card-title">Topaz Premium Zip Jacket</h3>
                            <h4 class="card-text text-danger">34.95 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/4" type="button" class="btn btn-primary">View</a>
                                    <a href="product/4/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-5.jpg" alt="Rmit Fairtrade Polo">
                        <div class="card-body">
                            <h3 class="card-title">Rmit Fairtrade Polo</h3>
                            <h4 class="card-text text-danger">21.95 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/5" type="button" class="btn btn-primary">View</a>
                                    <a href="product/5/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="assets/images/p-6.jpg" alt="Portable Charger">
                        <div class="card-body">
                            <h3 class="card-title">Portable Charger</h3>
                            <h4 class="card-text text-danger">10 AUD</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="product/6" type="button" class="btn btn-primary">View</a>
                                    <a href="product/6/delete" type="button" class="btn  btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

