<h1>Welcome, <%= user.name %>!</h1>
<p>You are <%= user.age %> years old, right?</p>

<p>Your hobbies are:</p>
<ul>
    <% user.hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>